@media handheld, only screen and (max-width: 767px) {
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
button{
    font-size: 300px;
    background-color: transparent;
    border: none;
    outline: none;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}
button:hover{
    text-shadow: -4px 0 blueviolet, 0 4px blueviolet, 4px 0 blueviolet, 0 -4px blueviolet;
}
button:hover p{
    display: flex;
    font-size: 300px; width: 300px;
    height:50px;
    text-shadow: -1px 0 red, 0 1px yellow, 1px 0 yellow, 0 -1px yellow;
    position: absolute;
    top: 55%;
    left: 51%;
    font-family: cursive;
    font-size: large;
    transform: translate(-50%, -50%);
    text-align: center;
}
p{
    display: none;

}
.heart{
    position: fixed;
    top: 1vh;
    font-size: 20px;
    animation: heartrain 3s linear forwards;
    transition: transform 4s;
}
@keyframes heartrain{
    to{
        transform: translateY(105vh);
    }
}
body {background-color: black;}
}